<form ng-submit="addEmail()" name="stalkersForm">
    <label for="email">Want to be notified</label>
    <input ng-model="email" name="email" type="email" id="myName" placeholder="Email" required>
    <input type="submit" value="Add me">
</form>

<ul>
    <li ng-repeat="activity in activities">
        <span>{{ activity.date | date }}</span>
        <p ng-show="activity.chefsAdded.length > 0">
            Add
            <ul>
                <li ng-repeat="chef in activity.chefsAdded">
                    <a ng-href="{{ chef.link }}">{{ chef.name }}</a>
                </li>
            </ul>
        </p>
        <p ng-show="activity.chefsRemoved.length > 0">
            Removed
            <ul>
                <li ng-repeat="chef in activity.chefsRemoved">
                    {{ chef.name }}
                </li>
            </ul>
        </p>
    </li>
</ul>
